#scope {padding:0px; min-height:600px; text-align:center}   
.specButtons {display:inline-block; margin-left:40px; width:auto}
.pageBody {min-height:600px; padding: 10px 0px 10px 0px; text-align:left}
.pageBody h3 {margin-top:10px}
.pageBody h2 {display:none}
.btn {border-radius:30px}
.mbr-section {padding-top:10px; padding-bottom:0px}
.section-table {padding-top:10px; padding-bottom:0px}
.btn em {margin:0px 5px 0px 5px}
.buttons {text-align:center}

.search {margin:20px 10px 20px 10px}
.search input {height:30px}
.search select {height:30px}
.search .btn {padding:5px; margin:0px 2px 0px 2px}

.readme {text-align:left; padding:10px}
.readme p {text-align:left; padding:10px}
.readme li {text-align:left}

/* subMenu */
.inner_menu li {width:300px; text-align:left}
.subMenu ul {list-style:none; text-align:center}
.subMenu ul li {display:inline-block; width:300px; margin:10px; text-align:left}
.subMenu ul li em {display:none}

/* comments */
#commentsList {text-align:left; margin:20px 0px 20px 0px}
#commentsList .replys {margin:10px 0px 10px 30px;
  border-style:solid; border-width:1px; border-color:silver}
.comment {border-style:solid; border-width:1px; margin:1px 1px 1px 1px; 
	padding:3px; text-align:left; height:auto; max-height:220px; overflow:hidden}
.commentBody {border-style:none; padding:3px; margin:2px}
.commentBody .senderDiv {display:inline-block; 
	width:20%; max-width:120px; height:100px; overflow:hidden}
	.commentBody .senderDiv .avatarDiv {width:100%; max-height: 80px; 
		overflow:hidden}
	.commentBody .senderDiv img {width:70px}
.commentBody .txtDiv {display:inline-block; width:75%; height:100px; overflow:hidden}
.comment .buttons {text-align:right}
.comment .btn {padding:2px; 6px 2px 6px; margin:2px}
.moderated {background-color:silver}

/* frontpage */
.card-img {height:225px; overflow: hidde; background-color:silver}

/* table */  
.table {text-align:center}
.table .thead-dark tr {display:inline-block; position:relative; width:block; height:auto;
   overflow:hide; border-style:none; background-color:white}
.table .thead-dark th {display:inline-block; width:150px; border-style:none; background-color:white}
.table .thead-dark th.order {color:blue}
.table .thead-dark th.unorder {color: red}
.table .thead-dark th.tableComment {background-color:transparent; color:black; border-style:none}
.table tbody tr {display:inline-block; position:relative; width:260px; height:340px;
   overflow:hidden; margin: 2px; background-color: #e5e5e5; border-style:none}
.table tbody td {display:block; border-style:none}
.table tbody .td_avatar {width:100%; max-height: 150px; overflow:hidden}
.table tbody .td_avatar img {width:100%}

/* paginator */
.paginator {margin: 10px 10px 10px 10px; padding: 0px 0px 0px 0px}  
.paginator li {list-styla: none; display: inline-block; margin: 1px 2px 1px 2px;}
.paginator .paginator-total .page-link {border-style:none;}
.paginator .paginator-total var {margin: 1px 10px 1px 1px;}
.paginator .active {font-weight:bolder; color:green}
.paginator a:hover {text-decoration:none}

/* formhelp */
#help .helpIcon {text-align:left}
#help .btn {background-color:#f7e59b; color:black}
#help .helpClose {text-align:right}
#helpBody {border-style:solid; border-width:1px; border-radius:10px; 
   margin:2px 10px 2px 10px; padding:2px; font-size:14px; text-align:left;
   background-color:#f7e59b; color:black}
#help .btn {padding:3px 10px 3px 10px; margin:3px; font-size:12px}
#help .helpIcon {display:block; width:auto; height:auto; 
  position:absolute; left:15px; top:200px; z-index:100}
#help ul {padding:2px 20px 2px 20px; margin:2px}

/* popup */   
#popup {cursor: move; position:fixed; z-index:99; left:50px; top:50px;
    width:500px; height:auto;
    background-color:#F0F0F0; color:black; padding:1px; border-style:solid; border-width:1px;}
#popup .popupCloseDiv {text-align:right; margin:0px; padding:0px;}
#popup p {padding:20px; margin:20px; text-align:center}
#popupButtons {padding:10px; text-align:center}  
  
/* türelem kérő ikon */  
#working {position:fixed; z-index:200; 
    left:50%; top:150px; margin: 0px 0px 0px -64px; display:none;
    background-image:url('working.gif'); background-color:transparent; 
    text-align:center; margin:0px;
    width:128px; height:128px; font-size:10px;}
#working span {display:none}   

/* főmenu */
.mainmenu .nav-item {width:145px}
.mainmenu .nav-item img#navbarUserAvatar {height:32px !important};


#footer1-c {margin-top:20px;}

/* userprofil */
#divProfileForm img {width:100%}

/* projekt */
#projectForm img {width:100%}
#projectForm label {height:45px}

/* csoportok */
#divGroupForm img {width:100%}
.parents {padding: 5px 10px 5px 10px; text-align:left}
#groupsTree {list-style:none; line-height:200%}
#groupsTree li {cursor:pointer}
#groupsTree li img {width:30px}
#groupsTree .groupsTreeSubitems {list-style:none; line-height:200%}

/* projekt */
.kanban {display:inline-block; border-style:none; 
    width:auto; height: 400px; font-family: sans-serif; font-size:14px; overflow:scroll}
.kanbanCol {float:left; width:242px; height:400px; 
   border-style:solid; border-width: 1px; padding:0px 1px 20px 1px; margin:1px; valign:top}
.kanbanCol h4 {background-color:#343a40;; color:white; text-align:center; padding:5px; 
   height:auto; font-damily:sans-serif; font-size:14px}
.kanbanCol h4 em {cursor:pointer; display:none}
.kanban .card {display:inline-block; width:220px; height:100px; overflow:hidden; cursor:pointer;
   border-style:solid; margin:1px; padding:2px; z-index:1}
.kanban .nick {text-align:left}   
.kanban img {height:30px}   
#taskForm {min-height:600px; height:auto}
#taskForm img {width:150px}
.taskAvatar {height:32px}
.task {background-color:silver}
.bug {background-color:red}
.suggestion {background-color:lime}
.request {background-color:orange}

/* members */
#memberForm2 {text-align:center}

/* phone */
@media (max-width: 576px) {
	.kanbanCol {float:left; width:100%; min-height:60px; height:60px; overflow:hidden}
	.kanbanCol h4 {text-align:left}
    .kanbanCol h4 em {display: inline-block}
}

/* tablet */
@media (min-width: 577px) and (max-width: 1100px) {
	.kanbanCol {float:left; width:100%; min-height:60px; height:60px; overflow:hidden}
	.kanbanCol h4 {text-align:left}
    .kanbanCol h4 em {display: inline-block}
}

/* desctop */
@media (min-width: 1101px) and (max-width: 1199px) {
	.kanban {overflow:scroll; height:500px}
	.kanbanCol {float:left; width:238px; min-height:500px; height:auto; z-index:1; 
	    overflow:visible}
	.kanbanCol h4 {text-align:center}
    .kanbanCol h4 em {display: none}
}

/* extra big */
@media (min-width: 1200px) {
	.kanban {overflow:scroll; height:500px}
	.kanbanCol {float:left; width:238px; min-height:500px; height:auto; z-index:1; 
	    overflow:visible}
	.kanbanCol h4 {text-align:center}
    .kanbanCol h4 em {display: none}
}
