body {margin:0 0 0 0; padding:0 0 0 0; width:100%}
svg.w-16 {display:none}
nav.navbar {position:fixed; width:100%; top:0px; z-index:20}
nav .logo {display:inline-block; height:30px; width:auto; border-radius:15px}
nav .dropdown-menu[data-bs-popper] {left:-60px}
nav .dropdown-menu form {margin-left:15px}
nav.navbar .navbar-nav .notreaded a {background-color:red; color:white;}
.header {margin:1px;}
div.antialiased {min-height:500px;}
main {padding-top:50px; padding-left:10px;}
.min-h-screen {min-height:10px; height:auto;}

.pageContainer {padding:0px 10px 10px 10px; min-height:500px}
p {display:block; width:100%; margin:5px;}
h1 {font-size:22pt; font-weight:bold; margin:20px 0px 20px 0px}
h2 {font-size:20pt; font-weight:bold; margin:14px 0px 14px 0px}
h3 {font-size:18pt; font-weight:bold; margin:12px 0px 10px 0px}
h4 {font-size:16pt; font-weight:bold; margin:10px 0px 10px 0px}
h5 {font-size:14pt; font-weight:bold; margin:10px 0px 10px 0px}
.table-bordered th {background-color:silver}
.title {text-align:center}
.submenuIcon {display:none}
.avatar {height:26px; display:inline-block; width:auto;}
.filters label {width:150px; text-align:right; margin:2px}
.searchForm {margin:10px 0px 10px 0px}
thead {background-color: silver; color:black}
.btn {width:auto; margin:5px;}
.btn-success {padding:12px 15px 5px 15px;}
.fas {margin-right:10px}
.fa-frown, .fa-flushed, .fa-grin {color:orange}
.btn-disabled {background-color:silver; border-style:solid; border-width:1px; cursor:default}
.form-group {vertical-align:middle; margin:2px;}
.form-group label {display:inline-block; width:150px; text-align:right; margin:2px; }
.form-group input {display:inline-block; width:auto; margin:2px}
.form-group select {display:inline-block; width:auto; margin:2px}
.form-group textarea {display:inline-block; width:auto; margin:2px}
.submenu ul {border-style:solid; border-width:1px}
.submenu li {border-style:solid; border-width:0px 0px 1px 0px; padding:2px}
input, textarea, select {max-width:98%}
.formButtons {margin:10px 0px 0px 0px}

.paginator {display:block; padding:10px; float:right}
.paginator .paginatorItem {display:inline-block; height:36px; width:36px;
	border-style:solid; border-width:1px; border-color:black; margin:0px}
.paginator a { 
  text-align:center; vertical-align: baseline;
  display:inline-block; width:32px; height:32px; padding:5px; margin:0px;}
.paginator a.actual,
nav.flex span > span > span.cursor-default {background-color:#d0d0e0}

#popup {display:none}
#popupBg {display:block; position:fixed; z-index:98; opacity:0.8;
	left:0px; top:0px; width:100%; height:100%;
	background-color:silver;  text-align:center; vertical-align: middle;}
#popupBody {display:block; position:fixed; z-index:99; opacity:1;
	left:20%; top:20%; width:60%; height:auto;
	background-color:white;  text-align:center;}

.pathItem {display:inlie-block; width:auto; margin:0px; padding:0px;}
.pathItem .fas {margin-right: 0px }

#teamContainer .logo {display:inline-block; height:32px; width:auto}
#teamContainer #teamMenu {background-color:black; color:white; line-height:220%}
#teamContainer #teamMenu a {color:white}

#memberContainer .logo {display:inline-block; height:32px; width:auto}
#memberContainer #memberMenu {background-color:black; color:white; line-height:220%}
#memberContainer #memberMenu a {color:white}

/* welcome */
.welcome .descriptionBtn {font-size:22pt}
.welcome .leiras div {margin-top:1%}
.welcome .tartalom {margin:5%; clear:both; padding:2%}
.welcome .tartalom li {margin-left:2%; list-style:disc}

#leiras {text-align:center}
#leiras .leirasBody {display:inline-block; width: 70%; text-align:left}
#leiras i {display:block; margin-left:10%; color:#508050}

/* messages */
.messageItem {margin:4px; border-width:1px 1px 1px; padding:2px;}
.sendTime {color:#A0A0A0}
#messages a {color:blue}
#messages .level0 {margin-left:0px}
#messages .level1 {margin-left:20px}
#messages .level2 {margin-left:40px}
#messages .level3 {margin-left:60px}
#messages .level4 {margin-left:80px}
#messages .moderatorInfo {color:red}
#messages em.fas {margin-right:0px;}
#messages .strong a {color:green}
#messages .msgHeader {background-color:#bfd8f2; color:#5f6b77; 
	border-radius:10px 10px 0px 0px; padding:10px 10px 0px 10px}
#messages .msgBody {background-color:#bfd8f2; padding:0px 10px 0px 10px}
#messages .msgFooter {background-color:#bfd8f2; color:#5f6b77;
	border-radius: 0px 0px 10px 10px; padding:0px 10px 0px 10px; margin-bottom:4px}
#messages childs {margin-left:10px;}	
#messages .msgInfo {display:inline-block; width:auto; margin-right:15px}
#messages .contra {background-color:#f28c8c}
#messages .protest {color:red}
#messages .replyTo {font-weight:bolder}
#messages img {max-width: 40%}
#messages .messages {border-radius:10px; width:80%; background-color:#bfd8f2; margin:10px; padding:5px}

/* poll */
#pollContainer .logo {display:inline-block; height:32px; width:auto}
#pollContainer #pollMenu {background-color:black; color:white; line-height:220%}
#pollContainer #pollMenu a {color:white}
#pollContainer .liked {color:green}

/* vote */
#voteForm ul {display:inline-block; width:auto;}
#voteForm li {text-align:left}
.voteTable {border-style:solid; border-width:2px; border-color:black; font-size:18pt}
.voteTable tr {border-style:solid; border-width:2px 0px 0px 0px; border-color:black}
.voteTable tr.eq {border-style:solid; border-width:0px 0px 0px 0px; border-color:black}
.condorcetResult table {border-style:solid; border-width:1px; border-color:black;}
.condorcetResult tr {border-style:solid; border-width:1px; border-color:black;}
.condorcetResult td {border-style:solid; border-width:1px; border-color:black;}
.condorcetResult th {background-color:#d0d0d0;
	border-style:solid; border-width:1px; border-color:black;}
.elfogadhato {display:none}	

/* project */
#projectContainer .logo {display:inline-block; height:32px; width:auto}
#projectContainer #states {text-align:center}
#projectContainer .state {display:inline-block}
#projectContainer #projectMenu {background-color:black; color:white; line-height:220%}
#projectContainer #projectMenu a {color:white}

/* product */
#products .productsItem {display:inline-block; 
   width:31%; max-width:31%; overflow:hidden;
   height:440px; max-height:440px;
	border-style:solid; border-width:1px; border-color:silver;
	padding:10px; margin:2px; text-align:center}
#products .productsItem .imgContainer {display:inline-block; margin:0px; 
	width:80%; height:160px; max-height: 160px; overflow:hidden} 	
#products .productsItem img {display:inline-block; margin:0px; 
	width:80%; max-height: 160px; overflow:hidden} 	
#products h3 {font-size:14pt} 	
#products .productsItem input {width:23%}	
#products #treeIkon {display:none}
#products #treeValues {display:none}
#products #tree {display:block}
#products .inactive {background-color:#d0d0d0}
#products .active {background-color:transparent}
#products .productsItem .evaluation {color:green}
#products .productsItem .evaluation .fas {width:18px; height:18px; 
  margin:0px; padding:0px; line-height:18px; vertical-align:top}
#products .productsItem .evaluation img {width:17px; height:17px;
  margin:0px; padding:0px; line-height:18px; vertical-align:top}
#product .quantity {width:100px}
#product #treeIkon {display:none}
#product #treeValues {display:none}
#product #tree {display:block}
#product img {max-width:400px}

.evaluation {color:green}
.evaluation .fas {width:18px; height:18px; 
  margin:0px; padding:0px; line-height:18px; vertical-align:top}
.evaluation img {display:inline-block; width:17px; height:17px;
  margin:0px; padding:0px; line-height:18px; vertical-align:top}

/* profile */
.accrediteds h3 {padding-left:20px;}
.accrediteds td {line-height: 40px;padding-left:20px;}

footer {background:silver; padding:10px; margin-top:20px}
#cookieEnable {position:fixed; z-index:999; bottom:0px; left:0px; width:100%;
	background-color:silver; opacity:0.9; padding:20px; text-align:right;
}
#cookieDisable {
	background-color:#d0d0d0; text-align:right; padding:10px;
}

/* no Table */
.table-bordered>:not(caption)>* {border-width:1px 1px 1px 1px;}
table.indexTable {display:block; padding:5px 0px 5px 0px; 
	width:100%; height:auto; border-style:none;
	background-color:#F0F0F0}
table.indexTable tbody {display:block; width:100%; height:auto; 
	text-align:center; border-style:none;}
table.indexTable thead {display:none}
table.indexTable tr {display:inline-block; width:23%; height:300px; max-height:300px; overflow:auto;
	padding:5px; margin:2px; background-color:white;
	border-style:solid; border-width:1px 1px 1px 1px; border-color:silver; border-radius:20px}
table.indexTable td {display:block; border-style:none}	

.subMenuIcon {display:none; cursor:pointer}
@media (max-width:575px) {
	.form-group label {display:block; text-align:left }
	.form-group input {display:block; width:auto; margin:2px}
	.form-group select {display:block; width:auto; margin:2px}
	.form-group textarea {display:block; width:auto; margin:2px}
	a {color: blue}
	.subMenuIcon {display:block; text-align:right}

	#teamMenu {padding: 2px 2px 2px 2px}
	#teamMenu span {display:none}
	#teamMenu a em {display:inline-block; color:white;}

	#memberMenu {padding: 2px 2px 2px 2px}
	#memberMenu span {display:none}
	#memberMenu a em {display:inline-block; color:white;}

	#pollMenu {padding: 2px 2px 2px 2px}
	#pollMenu span {display:none}
	#pollMenu a em {display:inline-block; color:white;}
	
	#products #treeIkon {display:block}
	#products #treeValues {display:block}
	#products #tree {display:none}
	#projectContainer .state {width:100%; min-height:auto; height:auto}
	#products .productsItem {width:100%}	

	#product #treeIkon {display:block}
	#product #treeValues {display:block}
	#product #tree {display:none}

	/* no Table */
	table.indexTable tr {display:inline-block; width:100%; height:auto; max-height:auto;
		padding:5px; margin:2px;
		border-style:solid; border-width:1px 1px 1px 1px; border-color:silver}
}
@media (max-width:991px) {
	.submenuIcon {display:inline-block}
	.submenu {display:none}
	a {color: blue}
	#teamMenu {padding: 2px 2px 2px 2px}
	#teamMenu span {display:none}
	#pollMenu span {display:none}
	#teamMenu a em {display:inline-block; color:white;}

	#pollMenu {padding: 2px 2px 2px 2px}
	#pollMenu span {display:none}
	#pollMenu a em {display:inline-block; color:white;}

	#projectMenu span {display:none}
	#projectMenu a em {display:inline-block; color:white;}
	.subMenuIcon {display:block; text-align:right}
	#products #treeIkon {display:block}
	#products #treeValues {display:block}
	#products #tree {display:none}
	#projectContainer .state {width:100%; min-height:auto; height:auto; max-height:auto}
	#products .productsItem {width:100%}	

	#product #treeIkon {display:block}
	#product #treeValues {display:block}
	#product #tree {display:none}

	/* no Table */
	table.indexTable tr {display:inline-block; width:100%; height:auto; max-height:auto; 
		padding:5px; margin:2px;
		border-style:solid; border-width:1px 1px 1px 1px; border-color:silver}
}
