body {margin:0 0 0 0; padding:0 0 0 0; width:100%}
svg.w-16 {display:none}
nav.navbar {position:fixed; width:100%; top:0px; z-index:20}
nav .logo {display:inline-block; height:30px; width:auto; border-radius:15px}
nav .dropdown-menu[data-bs-popper] {left:-60px}
nav .dropdown-menu form {margin-left:15px}
.header {margin:1px;}
main {padding-top:50px; padding-left:10px; min-height:500px}
.pageContainer {padding:0px 10px 10px 10px; min-height:500px}
p {display:block; width:100%; margin:5px;}
h1 {font-size:22pt; font-weight:bold; margin:20px 0px 20px 0px}
h2 {font-size:20pt; font-weight:bold; margin:14px 0px 14px 0px}
h3 {font-size:18pt; font-weight:bold; margin:12px 0px 10px 0px}
h4 {font-size:16pt; font-weight:bold; margin:10px 0px 10px 0px}
h5 {font-size:14pt; font-weight:bold; margin:10px 0px 10px 0px}
.table-bordered th {background-color:silver}
.title {text-align:center}
.submenuIcon {display:none}
.avatar {height:26px; display:inline-block; width:auto;}
.filters label {width:150px; text-align:right; margin:2px}
.searchForm {margin:10px 0px 10px 0px}
thead {background-color: silver; color:black}
.btn {width:auto; margin:5px;}
.fas {margin-right:10px}
.btn-disabled {background-color:silver; border-style:solid; border-width:1px; cursor:default}
.form-group {vertical-align:middle; margin:2px;}
.form-group label {display:inline-block; width:150px; text-align:right; margin:2px; }
.form-group input {display:inline-block; width:auto; margin:2px}
.form-group select {display:inline-block; width:auto; margin:2px}
.form-group textarea {display:inline-block; width:auto; margin:2px}
.submenu ul {border-style:solid; border-width:1px}
.submenu li {border-style:solid; border-width:0px 0px 1px 0px; padding:2px}
input, textarea, select {max-width:98%}
.formButtons {margin:10px 0px 0px 0px}

.paginator {padding:10px}
.paginator a,
.paginator var {border-style:solid; border-width:1px; border-color:black; text-align:center;
  display:inline-block; width:30px; height:30px; padding:5px; margin:0px;}
.paginator .actual {background-color:#d0d0e0}

.pathItem {display:inlie-block; width:auto; margin:0px; padding:0px;}
.pathItem .fas {margin-right: 0px }

#teamContainer .logo {display:inline-block; height:32px; width:auto}
#teamContainer #teamMenu {background-color:black; color:white; line-height:220%}
#teamContainer #teamMenu a {color:white}

#memberContainer .logo {display:inline-block; height:32px; width:auto}
#memberContainer #memberMenu {background-color:black; color:white; line-height:220%}
#memberContainer #memberMenu a {color:white}

/* welcome */
.welcome .descriptionBtn {font-size:22pt}
.welcome .leiras {margin:2%; width:90%}
.welcome .leiras div {margin-top:1%}
.welcome .tartalom {margin:5%; clear:both; padding:2%}
.welcome .tartalom li {margin-left:2%; list-style:disc}

/* groups */ 
.parentPath {border-style:solid; border-width:1px; padding:2px; margin:2px; background-color:#f0f0f0}
.groupsBrowser th.id {width:6%}
.groupsBrowser th.name {width:55%}
.groupsBrowser th.status {width:20%}
.filters a {display:inline-block; width:auto}
.groupsBrowser > p {display:none} /* paginator limit/total */

/* messages */
.messageItem {margin:4px; border-width:1px 1px 1px; padding:2px;}
.sendTime {color:#A0A0A0}

#messages a {color:blue}
#messages .level0 {margin-left:0px}
#messages .level1 {margin-left:20px}
#messages .level2 {margin-left:40px}
#messages .level3 {margin-left:60px}
#messages .level4 {margin-left:80px}
#messages .moderatorInfo {color:red}
#messages em.fas {margin-right:0px;}
#messages .strong a {color:green}
#messages .msgHeader {background-color:#bfd8f2; color:#5f6b77; 
	border-radius:10px 10px 0px 0px; padding:10px 10px 0px 10px}
#messages .msgBody {background-color:#bfd8f2; padding:0px 10px 0px 10px}
#messages .msgFooter {background-color:#bfd8f2; color:#5f6b77;
	border-radius: 0px 0px 10px 10px; padding:0px 10px 0px 10px; margin-bottom:4px}
#messages childs {margin-left:10px;}	
#messages .msgInfo {display:inline-block; width:auto; margin-right:15px}
#messages .contra {background-color:#f28c8c}
#messages .protest {color:red}
#messages .replyTo {font-weight:bolder}
#messages img {max-width: 40%}

footer {background:silver; padding:10px; margin-top:20px}
#cookieEnable {position:fixed; z-index:999; bottom:0px; left:0px; width:100%;
	background-color:silver; opacity:0.9; padding:20px; text-align:right;
}
#cookieDisable {
	background-color:#d0d0d0; text-align:right; padding:10px;
}

.subMenuIcon {display:none; cursor:pointer}
@media (max-width:575px) {
	.form-group label {display:block; text-align:left }
	.form-group input {display:block; width:auto; margin:2px}
	.form-group select {display:block; width:auto; margin:2px}
	.form-group textarea {display:block; width:auto; margin:2px}
	a {color: blue}
	#teamMenu span {display:none}
	.subMenuIcon {display:block; text-align:right}
}
@media (max-width:991px) {
	.submenuIcon {display:inline-block}
	.submenu {display:none}
	a {color: blue}
	#teamMenu span {display:none}
	.subMenuIcon {display:block; text-align:right}
}
