        <nav class="navbar navbar-expand-lg navbar-light bg-light subMenu"
            id="userSubmenu" ng-if="id > 0">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#userSubmenuContent"
                aria-controls="userSubmenuContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <em class="fa fa-ellipsis-v"></em>
            </button>

            <div class="collapse navbar-collapse" id="userSubmenuContent">
                 <ul>
                     <li>
                        <a class="nav-link" target="_self"
                            href="{{MYDOMAIN}}/opt/users/rights/userid/{{id}}">
                            <em class="fa fa-key"></em>{{txt('USER_RIGHTS')}}
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" target="_self"
                             href="{{MYDOMAIN}}/opt/groups/list/userid/{{id}}">
                             <em class="fa fa-sitemap"></em>{{txt('GROUPS')}}
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" target="_self"
                              href="{{MYDOMAIN}}/opt/projects/list/userid/{{id}}">
                              <em class="fa fa-cogs"></em>{{txt('PROJECTS')}}
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" target="_self"
                               href="{{MYDOMAIN}}/opt/market/list/userid/{{id}}">
                               <em class="fa fa-shopping-basket"></em>{{txt('MARKET')}}
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" target="_self"
                                href="{{MYDOMAIN}}/opt/market/transactions/userid/{{id}}">
                                <em class="fa fa-truck"></em>{{txt('TRANSACTIONS')}}
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" target="_self"
                                 href="{{MYDOMAIN}}/opt/files/list/userid/{{id}}">
                                 <em class="fa fa-file"></em>{{txt('DOCS')}}
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" target="_self"
                                 href="{{MYDOMAIN}}/opt/chats/list/userid/{{id}}">
                                 <em class="fa fa-comments"></em>{{txt('CHATS')}}
                         </a>
                      </li>
                      <li>
                         <a class="nav-link" target="_self"
                              href="{{MYDOMAIN}}/opt/voks/list/userid/{{id}}">
                              <em class="fa fa-balance-scale"></em>{{txt('POLLS')}}
                         </a>
                      </li>
                      <li>
                         <a class="nav-link" target="_self"
                                  href="{{MYDOMAIN}}/opt/events/list/userid/{{id}}">
                                  <em class="fa fa-calendar"></em>{{txt('EVENTS')}}
                         </a>
                      </li>
                      <li>
                         <a class="nav-link" target="_self"
                                   href="{{MYDOMAIN}}/opt/messages/list/userid/{{id}}">
                                   <em class="fa fa-comment"></em>{{txt('MESSAGES')}}
                         </a>
                      </li>
                 </ul>
            </div>
      </nav>
