<div ng-include="'templates/modern/templates/menu.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/header_slider.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/kiemelt_projektek.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/kiemelt_cikk.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/legujabb_csoportok.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/ujdonsagok_a_piacteren.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/lejaro_szavazas.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/kozelgo_esemenyek.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/legujabb_tagjaink.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/ajanlott_oldalak.php'"></div>
<div ng-include="'templates/modern/templates/footer.php'"></div>
