<div ng-include="'templates/modern/templates/menu.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/header_slider.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/kiemelt_projektek.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/kiemelt_cikk.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/legujabb_csoportok.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/ujdonsagok_a_piacteren.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/lejaro_szavazas.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/kozelgo_esemenyek.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/legujabb_tagjaink.php'"></div>
<div ng-include="'templates/modern/templates/frontpage/ajanlott_oldalak.php'"></div>
<div ng-include="'templates/modern/templates/footer.php'"></div>
<div id="messagesIcon" ng-if="(messagesCount.new > 0) && (loggedUser.id > 0) " title="Üzenetek"
    style="position:fixed; z-index:100; top:20px; right:100px; diplay:block; width:auto; height:auto; color:white">
  	<a href="{{MYDOMAIN}}/opt/messages/list/private/{{loggedUser.id}}" style="color:white">
  		 <em class="fa fa-comment"></em>&nbsp;
  	</a>
	{{messagesCount.total}}<span ng-if="messagesCount.new > 0">/<strong>{{messagesCount.new}}</strong></span>    		
</div>
